.header-admin{
    list-style-type: none;
    margin-top: 12px;
}

.header-admin li{
    display: inline-block;
    margin-right: 12px;
    font-family: 'Montserrat', sans-serif;
}

.header-admin li:last-child{
    margin-right: -6px;
}

.header-admin li a{
    color: #fff;
}

.header-admin li a:hover{
    text-decoration: none;
}

.first{
    margin-top: 0px;
}


.div-circle {
    background-position:center;
    background-size: 400px;
    width: 120px;
    height: 120px;
}

.toc-wrapper{
    max-height: 200px;
    height: 200px;
    overflow: scroll;
    width: 100%;
    border: 1px solid #e7e7e7;
    clear: both;
    display: table;
}

.toc-controls{
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border-bottom: 1px solid #e7e7e7;
}

.toc-field{
    width: 100%;
    border: 1px solid #e7e7e7;
    padding: 6px;
}

.note img{
    width: 100%;
}

.note{
    max-height: 460px;
    overflow-y: scroll;

}

.text-wrapper{
    border: 1px solid #e7e7e7; padding: 24px 24px 24px 48px; box-sizing: border-box;
}